import React from 'react'
import styles from '@styles/{{ titleCase name }}.module.scss'

const {{ titleCase name }} = () => {
  return (
    <div>
      {{ titleCase name }}
    </div>
  )
}

export default {{ titleCase name }}
