@import './variables';

@mixin search-bar-styles {
  font-family: $font-family-secondary;
  width: 100%;
  max-width: 45rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border: 1px solid $color-gray-500;
  border-radius: 4px;
  padding: 0 1.5rem;
  color: $color-gray-900;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}