@import './variables.scss';
@import './mixins.scss';

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 40%;
  background-color: $color-secondary-800;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.1rem;

    .logo {
      font-weight: bold;
      color: $color-secondary-50;
      cursor: pointer;

      span {
        font-weight: normal;
      }
    }

    .pageController {
      display: flex;
      align-items: center;
      font-weight: bold;

      input {
        width: 7rem;
        font-size: 2.1rem;
        font-weight: bold;
        padding: 1rem 0;
        text-align: center;
        border-radius: 4px;
        margin: 0 1rem;
        background-color: transparent;
        border: 1px solid $color-secondary-700;
        color: $color-secondary-50;
      }

      svg {
        font-size: 2.5rem;
        color: $color-secondary-500;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          color: $color-primary-400;
        }
      }
    }
  }

  .footer {
    font-size: 1.5rem;
    display: flex;
    color: $color-secondary-300;
    margin: 0 auto;

    & > * {
      cursor: pointer;
      text-align: center;
      line-height: 1.6;

      &:hover {
        text-decoration: underline;
        color: $color-secondary-50;
      }

      &:nth-child(2) {
        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: $color-secondary-300;
        padding: 0 2rem;
        margin: 0 2rem;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 60%;
  background-color: $color-secondary-50;
  padding: 4rem 3rem;

  .mainHeader {
    color: $color-secondary-900;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.5rem;

    h2 {
      font-size: 2.4rem;
    }

    .entryCounter {
      font-size: 1.7rem;
      position: absolute;
      top: 5rem;
    }

    button {
      width: 14.5rem;
      height: 4.5rem;
      border-radius: 3rem;

      svg {
        font-size: 1.2rem;
        margin-left: 6px;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-laptop) {
  .sidebar {
    width: 50%;
  }
  .main {
    width: 50%;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    gap: 5rem;
  }
  .main {
    width: 100%;
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .sidebar {
    .header {
      .logo {
        font-size: 1.8rem;
      }

      .pageController {
        input {
          width: 5rem;
          font-size: 1.7rem;
        }
        svg {
          font-size: 2rem;
        }
      }
    }
  }
}
