@import './variables';
@import './mixins';

.container {
  max-width: 40rem;
  margin: 0 auto;
  color: $color-secondary-100;
}

.imgContainer {
  position: relative;
  width: 10rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 2px;
  margin: 0 auto 1rem;
  box-shadow: $box-shadow;
}

.meta {
  text-align: center;
}

.title {
  font-size: 1.8rem;
  margin: 1.5rem 0 0.8rem;
  line-height: 1.4;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  font-size: 1.5rem;
  color: $color-primary-500;
  margin-right: 0.7rem;
}

.author {
  font-size: 1.5rem;
  @include ellipsis;
}
