.book {
  --color: #fff;
  --duration: 6.8s;
  width: 3.2rem;
  height: 1.2rem;
  position: relative;
  margin: 3.2rem 0 0 0;
  zoom: 1.5;
  .inner {
    width: 3.2rem;
    height: 1.2rem;
    position: relative;
    transform-origin: 0.2rem 0.2rem;
    transform: rotateZ(-90deg);
    animation: book var(--duration) ease infinite;
    .left,
    .right {
      width: 6rem;
      height: 0.4rem;
      top: 0;
      border-radius: 0.2rem;
      background: var(--color);
      position: absolute;
      &:before {
        content: '';
        width: 4.8rem;
        height: 0.4rem;
        border-radius: 0.2rem;
        background: inherit;
        position: absolute;
        top: -1rem;
        left: 0.6rem;
      }
    }
    .left {
      right: 2.8rem;
      transform-origin: 5.8rem 0.2rem;
      transform: rotateZ(90deg);
      animation: left var(--duration) ease infinite;
    }
    .right {
      left: 2.8rem;
      transform-origin: 0.2rem 0.2rem;
      transform: rotateZ(-90deg);
      animation: right var(--duration) ease infinite;
    }
    .middle {
      width: 3.2rem;
      height: 1.2rem;
      border: 0.4rem solid var(--color);
      border-top: 0;
      border-radius: 0 0 0.9rem 0.9rem;
      transform: translateY(0.2rem);
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 0;
    li {
      height: 0.4rem;
      border-radius: 0.2rem;
      transform-origin: 100% 0.2rem;
      width: 4.8rem;
      right: 0;
      top: -1rem;
      position: absolute;
      background: var(--color);
      transform: rotateZ(0deg) translateX(-1.8rem);
      animation-duration: var(--duration);
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      $i: 0;
      @while $i < 19 {
        &:nth-child(#{$i}) {
          animation-name: page-#{$i};
        }
        $i: $i + 1;
      }
    }
  }
}

$i: 0;
@while $i < 19 {
  $delay: $i * 1.86;
  $delay-after: $i * 1.74;
  @keyframes page-#{$i} {
    #{(4 + $delay) * 1%} {
      transform: rotateZ(0deg) translateX(-1.8rem);
    }
    #{(13 + $delay-after) * 1%},
    #{(54 + $delay) * 1%} {
      transform: rotateZ(180deg) translateX(-1.8rem);
    }
    #{(63 + $delay-after) * 1%} {
      transform: rotateZ(0deg) translateX(-1.8rem);
    }
  }
  $i: $i + 1;
}

@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}

@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(-90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 0.2rem 0.2rem;
  }
  40.01%,
  59.99% {
    transform-origin: 3rem 0.2rem;
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 0.2rem 0.2rem;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
