@import './variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  font-family: $font-family-secondary;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.25s ease;
  border: $border;

  &.dark {
    background-color: $color-secondary-600;
    color: $color-secondary-100;
    border-color: $color-secondary-600;

    &:hover {
      background-color: $color-secondary-200;
      color: $color-secondary-800;
    }
  }

  &.light {
    background-color: $color-primary-400;
    color: $color-gray-900;
    border-color: $color-primary-400;

    &:hover {
      background-color: $color-primary-200;
      border-color: $color-primary-700;
    }
  }

  &.small {
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }

  &.medium {
    font-size: 1.7rem;
    padding: 0 1.7rem;
  }

  &.large {
    font-size: 2rem;
    padding: 0 2rem;
  }
}

.icon {
  margin-left: 5px;
  transform: translateY(0.7px);
}
