@import './variables';

.container {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5px;
  color: $color-secondary-500;
  line-height: 1.5;

  a {
    color: $color-secondary-900;
    &:hover {
      text-decoration: underline;
    }
  }
}