@import './variables';
@import './mixins';

.container {
  width: 100%;
  flex: 1;
  min-width: 0;
  min-height: 0;
  border: 1px solid $color-gray-300;
  border-radius: $border-radius;
  overflow: scroll;
}

.table {
  font-style: normal;
  font-size: 1.4rem;
  width: 100%;
  color: $color-secondary-900;
  border-collapse: collapse;
  background-color: white;
  border-radius: $border-radius;
}

.thead {
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $color-gray-300;
  }

  th {
    padding: 1rem;
    .header {
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      svg {
        font-size: 1.5rem;
        position: absolute;
        transform: translateX(3.5px) translateY(1px);
      }
    }
  }
}

.tbody {
  tr {
    &:nth-of-type(even) {
      background-color: $color-secondary-100;
    }
    td {
      padding: 1.5rem 1rem;
      &:not(:last-of-type) {
        @include ellipsis;
      }

      &:nth-of-type(1) {
        width: 7%;
        svg {
          transform: translateY(1.7px);
        }
      }
      &:nth-of-type(2) {
        width: 65%;
      }
      &:nth-of-type(3) {
        width: 10%;
      }
      &:nth-of-type(4) {
        width: 15%;
      }
      &:nth-of-type(5) {
        width: 3%;
      }

      &:not(:nth-of-type(2)) {
        text-align: center;
      }
    }
  }
}

.noRowsMessage {
  position: relative;

  p {
    color: $color-gray-700;
    font-size: 1.5rem;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .container {
    min-height: 50rem;
  }
}
