@import './variables';
@import './mixins';

$tableContainerHeight: 59rem;
$theadRowHeight: 4rem;
$tbodyMaxHeight: $tableContainerHeight - $theadRowHeight;
$tbodyRowHeight: $tbodyMaxHeight / 11; // 11 entry rows

.container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;

  .searchBar {
    position: relative;

    input {
      @include search-bar-styles;
      font-size: 1.5rem;
      border: 1px solid $color-gray-300;
      color: $color-secondary-900;
      padding-inline-start: 4rem;
      &::placeholder {
        color: $color-secondary-500;
      }
    }

    svg {
      position: absolute;
      font-size: 2.1rem;
      color: $color-secondary-500;
      top: 50%;
      left: 1.2rem;
      transform: translateY(-50%);
    }
  }

  .tableContainer {
    border: 1px solid $color-gray-300;
    border-radius: $border-radius;
    height: $tableContainerHeight;
    overflow: hidden;

    table {
      border-collapse: collapse;
      font-size: 1.4rem;
      width: 100%;
      color: $color-secondary-900;
      background-color: white;

      // columns
      th,
      td {
        // type
        &:nth-of-type(1) {
          width: 7%;
        }
        // description
        &:nth-of-type(2) {
          width: 63%;
        }
        // page
        &:nth-of-type(3) {
          width: 10%;
        }
        // date
        &:nth-of-type(4) {
          width: 15%;
        }
        // options
        &:nth-of-type(5) {
          width: 5%;
        }
      }

      thead {
        border-bottom: 1px solid $color-gray-300;

        tr {
          height: $theadRowHeight;

          th {
            padding: 0 1rem;

            span {
              display: block;
              width: max-content;
              margin: 0 auto;
              position: relative;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              cursor: pointer;

              svg {
                position: absolute;
                font-size: 1.5rem;
                transform: translateX(3.5px) translateY(1px);
              }
            }
          }
        }
      }

      tbody {
        max-height: $tbodyMaxHeight;

        tr {
          height: $tbodyRowHeight;

          td {
            max-width: 0;

            span {
              display: block;
              width: 100%;
              @include ellipsis;
            }

            &:not(:last-of-type) {
              padding: 0 1rem;
            }

            &:not(:nth-of-type(2)) {
              text-align: center;
            }
          }

          &:nth-of-type(even) {
            background-color: $color-secondary-100;
          }
        }

        .noRowsFeedback {
          position: relative;

          p {
            color: $color-gray-700;
            font-size: 1.5rem;
            width: max-content;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pageIndicator {
      font-size: 1.5rem;
      margin: 0 1rem;
      color: $color-secondary-800;
    }

    .navigationButtons {
      display: flex;
      margin: 0 1rem;
      gap: 5px;

      button {
        font-size: 2.4rem;
        padding: 7px 7px 2px;
        border-radius: $border-radius;
        border: 1px solid $color-gray-300;
        background-color: $color-secondary-100;
        color: $color-secondary-600;

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-laptop) {
  .container .tableContainer table thead th:last-of-type {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .container .pagination .navigationButtons button {
    font-size: 2.2rem;
    padding: 6px 6px 2px;
  }
}
