@font-face {
  font-family: 'Nimbus Sans';
  src: url('../public/fonts/NimbusSanL-Reg.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('../public/fonts/NimbusSanL-Bol.otf');
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
