@import './variables';

.searchHeading {
  h1 {
    font-size: 3.2rem;
    color: white;
    text-align: center;
  }
}

.modalHeading {
  width: 100%;
  color: white;
  text-align: center;

  h2 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.7rem;
  }
}
