@import './variables';

.container {
  position: relative;
  background-color: $color-secondary-800;
  height: 100vh;
}

.content {
  position: absolute;

  top: 20%;
  @media only screen and (max-width: $breakpoint-phone) {
    top: 1%;
  }

  left: 50%;
  transform: translateX(-50%);
  width: 75rem;
  max-width: 100%;
  padding: 3rem;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  gap: 1.5rem;

  & > :first-child {
    flex: 1;
    min-width: 0;
    min-height: 5rem;
  }

  & > :last-child {
    min-width: max-content;
  }

  @media screen and (max-width: $breakpoint-phone) {
    flex-direction: column;

    & > :first-child {
      width: 100%;
    }
  }
}

.booksTracking {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: $color-secondary-200;
  font-size: 1.6rem;
  max-height: 40rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-inline-end: 2rem;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: $color-primary-100;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-primary-500;
    border-radius: 4px;
  }

  .book {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .currentPage {
      font-size: 1.65rem;
      font-weight: bold;
      margin-right: 3px;
    }

    .pageCount {
      font-size: 1.3rem;
      margin-left: 3px;
    }

    &:hover {
      cursor: pointer;

      h4 {
        text-decoration: underline;
      }
    }
  }
}

.errorMessage {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-secondary-100;
  background-color: $color-danger-500;
  border-radius: 4px;
  padding: 7px 1rem;
}
