@import './variables';

.container {
  position: relative;
  background-color: $color-secondary-800;
  height: 100vh;
}

.content {
  position: absolute;

  top: 20%;
  @media only screen and (max-width: $breakpoint-phone) {
    top: 1%;
  }

  left: 50%;
  transform: translateX(-50%);
  width: 75rem;
  max-width: 100%;
  padding: 3rem;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  gap: 1.5rem;

  & > :first-child {
    flex: 1;
    min-width: 0;
    min-height: 5rem;
  }

  & > :last-child {
    min-width: max-content;
  }

  @media screen and (max-width: $breakpoint-phone) {
    flex-direction: column;

    & > :first-child {
      width: 100%;
    }
  }
}

.errorMessage {
  width: max-content;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-secondary-100;
  background-color: $color-danger-500;
  border-radius: 4px;
  padding: 7px 1rem;
}