@import './variables';
@import './mixins';

.container {
  position: relative;
  background-color: $color-secondary-800;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 3rem;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 75rem;
  max-width: 100%;
  padding: 3rem;

  h1 {
    font-size: 3.2rem;
    color: white;
    text-align: center;
  }
}

.searchContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  & > :first-child {
    flex: 1;
    min-width: 0;
    min-height: 5rem;
  }
}

.booksTracking {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: $color-secondary-200;
  font-size: 1.6rem;
  max-height: 40rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-inline-end: 2rem;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: $color-primary-100;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-primary-500;
    border-radius: 4px;
  }

  .book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .bookTitle {
      @include ellipsis;
    }

    .currentPage {
      font-size: 1.65rem;
      font-weight: bold;
      margin-right: 3px;
    }

    .pageCount {
      font-size: 1.3rem;
      margin-left: 3px;
    }

    &:hover {
      cursor: pointer;

      h4 {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .content {
    top: 0;
    height: 100%;
  }

  .booksTracking {
    flex: 1;
    max-height: fit-content;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .content h1 {
    font-size: 2.4rem;
    line-height: 1.5;
  }

  .searchContainer {
    flex-direction: column;

    & > :first-child {
      width: 100%;
    }
  }
}
