@import './variables';


.container {
  display: grid;
  grid-gap: 4rem;
}

.heading {
  text-align: center;

  h3 {
    color: $color-secondary-100;
    font-size: 3.2rem;
  }

  p {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    color: $color-secondary-200;
    line-height: 1.5;
  }
}

.form {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-gap: 3.5rem;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
    color: $color-secondary-50;
    line-height: 1.65;

    span {
      margin-left: 5px;
      color: $color-primary-300;
    }
  }

  input {
    color: $color-secondary-50;
    border: none;
    background-color: $color-secondary-600;
    outline: 1px solid $color-secondary-600;
    width: 100%;
    max-width: 26rem;

    @media only screen and (max-width: $breakpoint-phone) {
      max-width: 22rem;
    }

    &::placeholder {
      color: $color-secondary-400;
    }

    &.valid {
      outline: 1px solid $color-success-500;
    }

    &.invalid {
      outline: 1px solid $color-danger-500;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
}

.errorMessage {
  position: absolute;
  right: 0;
  bottom: -2.2rem;
  color: $color-danger-500;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  text-align: center;
}
